<h1>Battle!!!</h1>

<% if params.empty? %>
  <form  action="/" method="post">
    <label for="player_1">Enter your name player one</label>
    <input type="text" name="player_1">
    <label for="player_2">Enter your name player two</label>
    <input type="text" name="player_2">
    <input type="submit" value="Submit">
  </form>
<% end %>

<%= @player_1 %> VS <%= @player_2 %>  
