<h1><%= @player_1[:name] %> VS <%= @player_2[:name] %></h1>

<h2><%= @player_2[:name] %> : 100hp</h2>

<form action="/player_1_attacks_player_2" method="post">
  <input type="submit" value="Attack Player 2">
</form>